
.previous-btn{
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 10px;
}
.previous-btn:hover{
    background-color: #f3f2fe;
}

.next-btn{
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 10px;
}
.next-btn:hover{
    background-color: #f3f2fe;
}