.underline-btn:hover{
    color: rgb(30 58 138);
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.top-hr{
    width: 100%;
    border-top: 2px solid #f3f2fe;

}
.bg-hover-effect:hover{
    background-color: #f3f2fe;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px 5px;
    overflow: auto;
    border: 3px solid #f3f2fe;
    background-color: #FFFFFF;
    width: max-content;

}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #000000;
    background-color: #f3f2fe;
    border-radius: 5px;
}